<!-- Con es estilo display:none no se mostrara el spinner, asi que debemos modificar el
documento application.js para definir cuando se mostrara el spinner y cuando no. -->
<div id="spinner" class="row col-md-12 text-center spinner" style="display: none;">
  <i class="fa fa-spinner fa-spin fa-2x"></i> Processing...
</div>
